body {
    margin: 0em auto;
    max-width: 65em;
}

#team-list {
    display: none;
    line-height: normal;
    float: left;
    width: 13em;
}

#team-list ol {
    list-style-type: none;
    margin-left: 0em;
    padding-left: 0em;
    width: auto;
}

#too-many-teams-warning {
    display: none;
    color: red;
}

#team-filter {
    width: 8em;
}

#chart svg {
    float: left;
    border: 1px solid black;
    margin-right: 0.5em;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-size: smaller;
}

.scrollable {
    overflow: auto;
    height: 10em;
}

#teams-unselected .key {
    color: transparent !important;
}
