#team-selector {
    display: none;
}

#team-list ol {
    list-style-type: none;
    margin-left: 0em;
    padding-left: 0em;
    width: auto;
}

#chart {
    float: left;
    border: 1px solid black;
    margin-right: 0.5em;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-size: smaller;
}

.scrollable {
    overflow: auto;
    width: 20em;
    height: 10em;
}

#teams-unselected .key {
    color: transparent !important;
}
